<%= form_with model: blog_post do |form| %>
  <% if form.object.errors.any? %>
    <div>
      <% form.object.full_messages.each do |message| %>
        <div> <%= message %> </div>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :cover_image %>
    <div id="<%= dom_id(blog_post, :cover_image) %>">
      <% if blog_post.cover_image.present? %>
        <%= image_tag blog_post.cover_image, class: "w-1/3" %>
        <%= link_to "Remove Cover Image", blog_post_cover_image_path(blog_post), data: { turbo_method: :delete, turbo_confirm: "Are you Sure?"} %>
      <% end %>
    </div>
    <%= form.file_field :cover_image %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div>
    <%= form.label :published_at %>
    <%= form.datetime_select :published_at, include_blank: true %>
  </div>

  <%= form.label :tag %>
  <%= form.select :tag, options_for_select(BlogPost.tags.map {|key, value| [key.titleize, BlogPost.tags.key(value)]}, selected: @blog_post.tag || :travel) %>

  <%= form.button %>
<% end %>