<div class="flex flex-row mt-5">
  <div class="hidden lg:flex lg:basis-1/4"></div>
    <div class="basis-full lg:basis-2/4">
      <% @blog_posts.each do |blog_post| %>
        <div class="mx-auto max-w-md overflow-hidden rounded-lg bg-white shadow">
          <% if blog_post.cover_image.present? %>
            <%= image_tag blog_post.cover_image %>
          <%end %>
          <div class="p-4">
            <p class="mb-1 text-sm text-primary-500">Zoe Larsen •
              <time>
                <% if blog_post.published? %>
                  <%= blog_post.published_at.to_date %>
                <% end %>
              </time>
            </p>
            <h3 class="text-xl font-medium text-gray-900 underline">
              <%= link_to blog_post.title, blog_post %>
            </h3>
            <p class="mt-1 text-gray-500">
              <%= truncate(blog_post.content.to_plain_text, length: 200, separator: ' ') %>
            </p>
            <span
            class="inline-flex items-center gap-1 rounded-full px-2 py-1 text-xs font-semibold "
            >
              #<%= blog_post.tag %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
    <div class="hidden lg:flex lg:basis-1/4">
      <%= render partial: "landing_pages/about_me" %>
    </div>
    <% if @pagy.count > @pagy.items %>
      <div class="my-16">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>
  </div>
</div>
